.section {
    min-width: 60vw;
}
.App-header {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    margin: 10px;
}
.Description {
    margin-top: 5%;
    padding-left: 10%;
}
.form-text-input {
    border: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    padding: 10px 0px !important;
}
.form-text-input:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #443a3a !important;
}
.press-enter {
    width: 70px;
    font-size: 12px;
    color: black;
    margin-left: 5px;
}
.bold {
    font-weight: bolder;
}
.count {
    font-size: 1.15rem;
}
.title {
    margin-bottom: 5%;
}
.enter-btn {
    background-color: #1d1919;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.enter-btn:hover {
    color: #1d1919;
    border-color: #1d1919;
}
.ant-radio-wrapper:focus {
    text-decoration: underline;
}
.ant-radio-wrapper-checked span,
.ant-checkbox-wrapper-checked span {
    font-weight: bold;
}
.ant-radio-group {
    font-size: inherit;
}
.ant-radio {
    vertical-align: baseline;
}
.alpha-hotkey {
    background: #666;
    font-size: 0.85rem;
    text-align: center;
    color: white;
    border-radius: 4px;
    width: 20px;
}
#submit-btn {
    color: white;
    border-color: rgb(77, 94, 255);
    border-radius: 5px;
    font-weight: bold;
}
#submit-btn:hover {
    background-color: white !important;
    color: rgb(77, 94, 255);
}
#start-btn {
    background-color: rgb(77, 94, 255);
    border-color: rgb(77, 94, 255);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 70px;
}
#start-btn:hover {
    background-color: white !important;
    color: rgb(77, 94, 255);
}
.page-wrapper {
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.text-center {
    text-align: center !important;
}
.Navigation {
    right: 0px !important;
}
