*::-webkit-scrollbar {
    width: 8px;
    height: 9px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}
*::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
.header * {
    user-select: none;
}
.site-layout-background {
    background: #fff;
    padding: 0;
}

.top-wrapper {
    margin-top: 24px;
}

.formify-logo {
    float: left;
    margin-right: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}

.formify-logo-text {
    margin-left: 5px;
}
.user-section {
    height: 64px;
}
.user-section * {
    vertical-align: middle !important;
}
